{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    }
  ]
}
