<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <title>{{ title }}</title>
    <!-- title length should be within 60 characters -->
    <meta name="title" content="{{ title }}" />
    <!-- description length should be within 160 characters -->
    <meta name="description" content="{{ description }}" />
    <!-- URL of the hero or featured image of the page - at least 1200x630px -->
    <meta name="image" content="{{ image }}" />
    <meta name="author" content="{{ author or 'Alan Henry' }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:image:alt" content="{{ imageAlt }}" />
    <!-- <meta property="og:url" content="{{ canonicalUrl }}" /> -->
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="'Alan Henry - Frontend Developer'" />
    <meta
      property="article:publisher"
      content="{{ publisher or 'Alan Henry' }}"
    />
    <meta property="article:author" content="{{ author or 'Alan Henry' }}" />
    <!-- type of card to use for the post when embedded on X -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ twitterSite or 'alandavidhenry' }}" />
    <meta
      name="twitter:creator"
      content="{{ twitterCreator or 'alandavidhenry' }}"
    />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta name="twitter:image:alt" content="{{ imageAlt }}" />

    {% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link rel="preconnect" href="https://identity.netlify.com" crossorigin />
    {% endblock %}
  </head>
  <body class="w-full h-full bg-custom-light text-custom-dark">
    {% include "layouts/header.njk" %} {{ content | safe }} {% include
    "layouts/footer.njk" %}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {% block scripts %}
    <script src="/js/main.js" defer></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
            if (!user) {
              window.netlifyIdentity.on('login', () => {
                document.location.href = '/admin/'
              })
            }
          })
        }
      })
    </script>
    {% endblock %}
  </body>
</html>
