---
layout: 'layouts/base.njk'
permalink: '/cv/'
---

<main>
  <section>
    <div class="container mb-12 mx-auto px-4">
      <h1
        class="text-5xl md:text-6xl xl:text-7xl font-lekton font-semibold align-bottom"
      >
        My CV
      </h1>
      <object
        class="mt-8"
        data="/public/20240821-CV_Alan_Henry.pdf"
        type="application/pdf"
        width="100%"
        height="1000px"
      >
        <p class="text-base sm:text-lg md:text-xl text-gray-600 font-libreFranklin leading-relaxed">
          Your browser doesn't support PDF viewing.
          <a
            class="text-blue-400 hover:text-blue-300 hover:underline focus-visible:px-2 focus-visible:bg-yellow-400 focus-visible:border-b-4 focus-visible:border-black focus-visible:text-black"
            href="/public/20240821-CV_Alan_Henry.pdf"
            >Download the PDF</a
          >
          instead.
        </p>
      </object>
    </div>
  </section>
</main>
