---
title: Title
description: Description
layout: 'layouts/base.njk'
image:
secureImageUrl:
imageType:
imageAlt:
imageWidth:
imageHeight:
contentType:
canonicalUrl:
publisher:
author:
publishedTime:
updatedTime:
articleSection:
articleTag:
twitterSite:
twitterCreator:
eleventyComputed:
  portfolioCards:
    - name: 'MOD Digital'
      technologies: 'HTML | CSS | JavaScript | Express | Redis | Keycloak | Playwright | OpenShift | OWASP ZAP'
      description: "Defence Digital's portal for all their services. I ensured that the website correctly used the MOD Design system to create a uniform and accessible design across all the services. Authentication was provided by using a custom Keycloak instance hosted on OpenShift. End-to-end testing is carried out using Playwright with Axe integration for accessibility testing."
      url: 'https://www.digital.mod.uk'
      github: null
      image: 'digital-mod-uk.jpg'
    - name: 'Pike House Farm'
      technologies: 'HTML | CSS | Bootstrap | jQuery'
      description: "A website created to showcase a friend's farm located in the Pennine Hills near Manchester. They supply locally reared meat to nearby butchers and also offer meat packs for local customers."
      url: 'http://www.pikehousefarm.co.uk'
      github: null
      image: 'pike_house_farm_lg.jpg'
    - name: 'Studio Session Planner'
      technologies: 'HTML | CSS | Bootstrap | TypeScript | Angular | Firebase'
      description: 'A work-in-progress web-based app that is being devoloped to replace an Excel spreadsheet that was being used in by The Band of The Coldstream Guards to plan recording studio sessions. The Angular framework was chosen due to its ability to easily pass data between the many components needed for this project. The data is stored in a Firebase Firestore database..'
      url: 'https://studio-session-planner.web.app'
      github: 'alandavidhenry/studio-session-planner'
      image: 'studio_session_planner_2_lg.jpg'
    - name: 'Aircraft Warehouse'
      technologies: 'HTML | CSS | Bootstrap | JavaScript'
      description: 'A sinple webpage created for the final assignment of the web developer module as part of the JHub Coding Scheme. This scheme aims to give serving personnel the opportunity to gain valuable coding and AI skills, whilst getting paid to do so, so that they might use these skills to enable an information advantage. The website used JavaScript to calculate the costs for different aircraft and their optional extras.'
      url: 'https://aircraft-warehouse.web.app'
      github: 'alandavidhenry/aircraft-warehouse'
      image: 'aircraft_warehouse_lg.jpg'
    - name: 'The Goblin Store'
      technologies: 'HTML | CSS | Bootstrap | jQuery | Firebase'
      description: 'A website created during the Intermediate Web Development course offered by With You With Me.I completed this course before being offered a role as a Full Stack Developer with With You With Me. It uses Boostrap to assist with the layout and the data is sotred in a Firebase Realtime database.'
      url: 'https://wywm-gobblin-store.web.app/index.html'
      github: 'alandavidhenry/WYWM-Intermediate-Web-Development'
      image: 'goblin_store_2_lg.jpg'
    - name: "Sergeants' Mess Booking App"
      technologies: 'HTML | CSS | Bootstrap | TypeScript | Angular | Firebase'
      description: " A work-in-progress web-based app that that can be used to book room and meals in the Sergeants' Mess in an Army barracks. The Angular framework was chosen due to its ability to easily pass data between the many components needed for this project. The data is stored in a Firebase Firestore database."
      url: 'https://mess-booking-app.web.app/dashboard'
      github: 'alandavidhenry/mess-booking-app'
      image: 'mess_booking_app_lg.jpg'
    - name: 'Minimalist Weather App (Using JS)'
      technologies: 'HTML | CSS | JavaScript'
      description: 'Simple weather app that uses the weatherapi.com API to fetch data from the chosen location. I have tried to keep this as simple as possible and used only JavaScript linked in the HTML file. I used the fetch function to get the json data from the weather API.'
      url: 'https://alandavidhenry.github.io/Minimalist-Weather-Page-PlainJS'
      github: 'alandavidhenry/Minimalist-Weather-Page-PlainJS'
      image: 'simple_weather_ex_lg.jpg'
    - name: 'Minimalist Weather App (Using Express & Node)'
      technologies: 'HTML | CSS | JavaScript | Express | Node.js'
      description: 'Simple weather app that uses the weatherapi.com API to fetch data from the chosen location. I have used the Express Generator to create the basic template then built on that. I used the simple response package to get the json data from the weather API.'
      url: 'https://minimalist-weather-page-express.web.app'
      github: 'alandavidhenry/Minimalist-Weather-Page-Express'
      image: 'simple_weather_ex_lg.jpg'
---

<main>
  <section>
    <div class="container mx-auto mb-12 px-4 py-24">
      <div class="md:flex md:space-x-8">
        <div
          class="md:w-6/12 lg:w-7/12 mb-6 md:mb-0 md:flex md:flex-col justify-start lg:justify-end"
        >
          <h2
            class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-lekton font-semibold align-bottom"
          >
            Frontend Developer
          </h2>
        </div>
        <div class="md:w-6/12 lg:w-5/12">
          <h3
            class="text-lg sm:text-xl md:text-2xl font-libreFranklin font-semibold mb-4"
          >
            With 13 years of military experience and a recent transition to IT,
            I bring strong problem-solving, goal-oriented, and teamwork skills
            to my role as a frontend developer.
          </h3>
          <p
            class="text-base sm:text-lg md:text-xl text-gray-600 font-libreFranklin leading-relaxed"
          >
            Having completed one year in this field, I've successfully applied
            my enthusiasm and discipline from my military background to excel in
            the fast-paced tech industry. I'm eager to continue leveraging my
            diverse experience and growing technical skills in new challenges.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-custom-dark text-custom-light" id="portfolio">
    <div class="container mx-auto px-4 py-24">
      <h2
        class="text-5xl md:text-6xl xl:text-7xl font-lekton font-semibold mb-6 md:mb-10 lg:mb-14"
      >
        Portfolio
      </h2>

      <div class="container mb-12 mx-auto">
        {% for portfolioCard in portfolioCards %}
        <div
          class="portfolio-card mb-8 lg:ml-80 bg-stone-800 hover:bg-stone-700 rounded-lg overflow-hidden cursor-pointer transition hover:scale-[101%]"
          data-expanded="false"
        >
          <div class="p-4">
            <h3
              class="text-lg sm:text-xl md:text-2xl font-libreFranklin font-semibold mb-1 lg:mb-3"
            >
              {{ portfolioCard.name }}
            </h3>
            <p
              class="description text-base font-libreFranklin text-gray-200 mb-2"
            >
              {{ portfolioCard.description | truncate(150) }}
            </p>
            <p
              class="full-description text-base font-libreFranklin text-gray-200 mb-4 hidden"
            >
              {{ portfolioCard.description }}
            </p>
            <p
              class="url text-base font-libreFranklin font-semibold mb-2 hidden"
            >
              <a class="text-gray-300 hover:text-blue-300 hover:underline focus-visible:px-2 focus-visible:bg-yellow-400 focus-visible:border-b-4 focus-visible:border-black focus-visible:text-black" href="{{ portfolioCard.url }}">{{ portfolioCard.url }}</a>
            </p>
            <p
              class="github text-base font-libreFranklin font-semibold mb-2 hidden"
            >
              {% if portfolioCard.github %}
              <a class="text-gray-300 hover:text-blue-300 hover:underline focus-visible:px-2 focus-visible:bg-yellow-400 focus-visible:border-b-4 focus-visible:border-black focus-visible:text-black" href="https://www.github.com/{{ portfolioCard.github }}"
                >https://www.github.com/{{ portfolioCard.github }}</a
              >
              {% endif %}
            </p>
            <p
              class="text-xs text-gray-400 font-libreFranklin font-semibold uppercase mb-2"
            >
              {{ portfolioCard.technologies }}
            </p>
          </div>
          <div class="extra-content hidden p-4 bg-gray-700">
            <!-- Add your extra elements here -->
            <p class="text-base font-libreFranklin text-gray-200">
              Additional details about the project...
            </p>
            <a href="#" class="text-blue-400 hover:text-blue-300 hover:underline focus-visible:px-2 focus-visible:bg-yellow-400 focus-visible:border-b-4 focus-visible:border-black focus-visible:text-black"
              >View Project</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- <section class="bg-custom-light text-custom-dark" id="about">
    <div class="container mx-auto mb-12 px-4 py-24">
      <h2 class="text-5xl xl:text-6xl font-lekton font-semibold mb-8">
        About me
      </h2>
      <p
        class="text-base sm:text-lg md:text-xl text-gray-600 font-libreFranklin leading-relaxed"
      >
        Having completed one year in this field, I've successfully applied my
        enthusiasm and discipline from my military background to excel in the
        fast-paced tech industry. I'm eager to continue leveraging my diverse
        experience and growing technical skills in new challenges.
      </p>
    </div>
  </section> -->
</main>
